<div id="teams">
  <div class="form">
    <h1>Team</h1>
    <%= simple_form_for [@current_user, @team] do |f| %>
      <%= f.input :name, as: :string, required: false,placeholder: "Ex: Lakers", input_html: {id: "name", class: "recognitionStyling"} %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Back to Account', account_path, class: "back-button" %>
  </div>
</div>
