<div class="container">
  <h2>New Team Form</h2>

    <%= simple_form_for [@current_user, @team] do |f| %>
      <%= f.input :name, as: :string, required: false,placeholder: "Ex: Lakers", input_html: {id: "name"} %>
      <%= f.button :submit, "Create Team", class: "btn btn-success" %>
    <% end %>

  <br>
  <%= link_to 'Back', teams_path, class: "back-button" %>
</div>
