<div id="teams">
  <div class="form">
    <br>
    <h2>New Team</h2>
    <br>
    <%= simple_form_for [@current_user, @team] do |f| %>
      <%= f.input :name, as: :string, required: false,placeholder: "Ex: Lakers", input_html: {id: "name"} %>
      <%= f.button :submit, "Create Team", class: 'btn btn-primary' %>
    <% end %>
    <br>
    <%= link_to 'Back', tournaments_path, class: "back-button" %>
  </div>
</div>
