<div id="header">
  <div class="wrapper-team">
    <h3><%= @team.name %></h3>
    <p>players: <%= @team.users.size %></p>

    <div>
      <%= link_to "", account_path, method: :delete, data: { confirm: "Are you sure?" }, class: "far fa-trash-alt", style: "color: red" %>
    </div>
  </div>
</div>

<div id="team-body">
  <% @team.tournaments.uniq.each do |tournament| %>
    <%= render partial: 'shared/tournament_stats', locals: { tournament: tournament} %>
  <% end %>
</div>



