.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        color: black;
}

.card-info {
  width: 100%;
  height: 80px;
  border: solid 2px;
  border-color: $fluo-blue;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  padding: 5px;
  border-radius: 5px;
}

.card-info-2 {
  width: 100%;
  border: solid 2px;
  border-color: $fluo-blue;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    border: solid 5px;
    border-color: $fluo-blue;
  }
}

body {
  background-color: $dark-blue;
}

h1 {
  color: $light-blue;
  font-size: 40px;
}

.bottom-box {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a {
    text-decoration: none;
}

.card-info-teams {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: solid 2px;
  //border-color: $fluo-blue;
  background-color: $mid-blue;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  &:hover {
    //border: solid 5px;
    box-shadow: 3px 3px 3px 0px rgba(199,234,245,0.6);
    text-decoration: none;
    //border-color: $fluo-blue;
  }
}

[data-tab-content] {
  display: none;

}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  h1 {
    font-size: 32px;
  }
}

.tab {
  cursor: pointer;
  text-align: left;
  flex-grow: 1;
  text-align: center;
  border: solid transparent;
  border-width: 0 3px 5px 3px;
}

.tab.active {
  background-color: $mid-blue;
  color: $light-blue;
  border-color: $mid-blue;
}

.tab:hover {
  border-bottom-color: $mid-blue;
}

.vl {
  border-left: 1px solid $mid-blue;
  height: 100vh;
  margin-left: 10px;
}

.tournaments {
  border-right: 3px solid $mid-blue;
  border-radius: 10px 0 0 0;
}

.personal-info {
  border-left: 3px solid $mid-blue;
  border-radius: 0 10px 0 0;
}

.tab-content {
  height: 500px;
  overflow: auto;
}





