#game-show-header {
  display: flex;
  color: $light-blue;
  width: 100%;
  justify-content: space-between;
}

#highlights {
  display: flex;
  color: $light-blue;
  width: 100%;
  justify-content: space-between;
}

#team-stats {
  display: flex;
  color: $light-blue;
  width: 100%;
  justify-content: space-between;
}

#manager-actions {
  background-color: black;
}
