.show-started {
  background-color: $dark-blue;
  display: grid;
  grid-template-columns: 4fr 1fr;

  .show-started-card {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-right: 20px;
  }

  h2 {
    text-align: center;
    color: $fluo-blue;
  }

  p {
    font-size: 24px;
  }

  #ranking {
    border-left: 1px solid;
    border-color: $fluo-blue;
    padding-left: 30px;
    h2 {
      color: $light-blue;
      text-align: left;
    }

    p {
      color: $light-blue;
      text-align: left;
    }

    .teams-rankings {
      display: grid;
      grid-template-columns: 0.5fr 4fr 0.5fr;
      padding-right: 40px;
    }
  }
}
