.container-tournament-show {
  p {
  color: white;
  font-size: 16px;
  }

  h2 {
    color: $light-blue;
    font-size: 52px;
    letter-spacing: 4px;
  }

  h3 {
    color: $light-blue;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  .top-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 20px;
  }

  .description {
    width: 70%;
    margin: 0 auto;
  }

  .tabs-show {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    h1 {
      font-size: 24px;
    }
    h2 {
      opacity: 30%;
    }
    .tab-show-content {
      margin-left: 20px;
      cursor: pointer;
    }
    .tab-show-content.active {
      color: $light-blue;
      opacity: 100%;
    }
    .tab-show-content:hover {

    }
  }

  .bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;

    .tab-content {
      height: 500px;
      overflow: auto;
    }

    [data-tab-content] {
      display: none;
    }

    .active[data-tab-content] {
      display: block;
    }
  }

  .button-container {
    width: 80vw;
    margin: 0 auto;
  }
}
