<div class="title">
  <h1>Tournaments</h1>
</div>
<br>

<div class="container-tournament-index">
  <%= render partial: "card_index", tournaments: @tournaments %>

  <%= render partial: "map_index", tournaments: @tournaments %>

</div>


<script type="text/javascript">
  function createTeam() {
  alert("In order to book a tournament you have to create a team first!");
}
</script>
