<div class="card-link">
  <h1 id="myLink"> http://localhost:3000/tournaments/<%= @last_id %></h1>
</div>
<div class="buttons-link">
  <button type="button" class="btn btn-copy" onclick="copyToClipboard('myLink')"><i class="far fa-copy"></i></button>
  <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
  <button type="button" class="btn btn-whatsapp" onclick="location.href='https://wa.me/?text=urlencodedtext'"><i class="fab fa-whatsapp pr-1"></i> Whatsapp</button>
</div>

<script>
  function copyToClipboard(elementId) {
    var aux = document.createElement("input");
    aux.setAttribute("value", document.getElementById(elementId).innerHTML);
    document.body.appendChild(aux);
    aux.select();
    document.execCommand("copy");
    document.body.removeChild(aux);
  }
</script>
