<div class="header">
  <h1>share your tournament</h1>
</div>

<div class="card-link">
  <h2 id="myLink"><%= request.url.gsub(/\/share/, "") %></h2>
</div>

<div class="buttons-link">
  <div type="button" class="btn-copy" onclick="copyToClipboard('myLink')"><i class="far fa-copy"></i></div>
  <div type="button" class="btn-mail"><a href="mailto:"><i class="fas fa-envelope"></i></a></div>
  <div type="button" class="btn-whatsapp"><a href="https://wa.me/?text=Subscribe to this amazing tournament!%20http://localhost:3000/tournaments/<%= @last_id %>" target="_blank"><i class="fab fa-whatsapp pr-1" ></i></a></div>
</div>

<script>
  function copyToClipboard(elementId) {
    var aux = document.createElement("input");
    aux.setAttribute("value", document.getElementById(elementId).innerHTML);
    document.body.appendChild(aux);
    aux.select();
    document.execCommand("copy");
    document.body.removeChild(aux);
  }
</script>
