<div class="card-link">
  <h1> http://localhost:3000/tournaments/<%= @last_id %></h1>
</div>
<div class="buttons-link">
  <button type="button" class="btn btn-copy"><i class="far fa-copy"></i></button>
  <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
  <button type="button" class="btn btn-whatsapp"><%= link_to "", "https://wa.me/?text=urlencodedtext" %><i class="fab fa-whatsapp pr-1"></i> Whatsapp</button>
</div>
