<div id="teams-tournaments">
  <% teams.each do |team| %>
    <div class="card-team">
      <%= team.name %>
      <%= link_to "Show Team",team_path(team) %>
    </div>
  <% end %>
</div>


<%#= render "/shared/teams", teams: @teams %> <!--This is for Mike to use in the right page, delete from here when used!-->
