<div class="tournament-stat">
  <h2><%= tournament.name %></h2>
  <% Action.all.each do |action| %>
    <div class="action">
      <p><%= action.name %></p>
      <p><%= @team.action_in_game(action, tournament) %></p>
    </div>
  <% end %>
</div>
