<% teams.each do |team| %>
  <%= link_to team_path(team) do %>
    <div class="card-info-teams" style="margin-top: 10px;">
      <h1 style="font-size: 24px; color: #C7EAF5; line-height: 60px;"><%= team.name %></h1>
    </div>
  <% end %>
<% end %>
