
<div class="col-md-7 card-info" style="">
  <% tournaments.each do |tournament| %>
    <h1 style="font-size: 24px; text-align: left;"><%= tournament.name %></h1>
    <h2 style="font-size: 18px; text-align: left;"><%= tournament.description %></h2>
  <% end %>
</div>
