<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <div class="top-text">
      <div class="rectangle"></div>
      <h1 style="padding-right: 12px;">stop forgetting</h1><h1 style="color: white;">results</h1>
    </div>
    <div class="bottom-part">
      <div class="play-button">
        <%= link_to tournaments_path do %>
        <i class="fas fa-play play-icon" style="font-size: 60px; color: #11ffff;"></i>
        <% end %>
      </div>
      <div class="bottom-text" style="padding-top: 30px;">
        <p style="padding-right: 8px;">a<p style="color: #11ffff; padding-right: 8px;">game</p><p style="padding-right: 8px;">that you will</p><p style="color: #11ffff">remember</p></p>
      </div>
    </div>
  </div>
</div>


