<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <div class="top-text">
      <div class="rectangle"></div>
      <h1 style="padding-right: 12px;">stop forgetting</h1><h1 style="color: white;">results</h1>
    </div>
    <div class="bottom-part">

        <div class="play-wrapper">
          <div class="gradient1"></div>
          <div class="gradient2"></div>
          <div class="gradient3"></div>
          <div class="gradient4"></div>
          <div class="play-button">
            <%= link_to tournaments_path do %>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fas fa-play play-icon" style=""></i>
            <% end %>
          </div>
        </div>

      <div class="bottom-text" style="padding-top: 30px;">
        <h2 style="padding-right: 8px;">a<h2 style="color: #11ffff; padding-right: 8px;">game</h2><h2 style="padding-right: 8px;">that you will</h2><h2 style="color: #11ffff">remember</h2></h2>
      </div>
    </div>
  </div>
</div>
