<% @game.statistics.where(team: team).each do |statistic| %>
  <div class="highlight">
    <%= statistic.user.first_name %> -
    <%= statistic.action.name %> -
    <% highlight_time = statistic.created_at - statistic.game.start_time  %>
    <%= "%.4g" % ("%.2f" % (highlight_time/1.minute)) %>'
  </div>
<% end %>
