<% @game.statistics.where(team: team).each do |statistic| %>
  <div class="highlight">
    <%#= statistic.created_at %>
    <%= statistic.user.first_name %> -
    <%= statistic.action.name %> -
    time
  </div>
<% end %>
