<div id="manager-actions">
  <div class="match-form">
    <%= render partial: "new_statistic", locals: { team: @home_team }%>
  </div>

  <div class="match-form" style="text-align: right;">
    <%= render partial: "new_statistic", locals: { team: @away_team }%>
  </div>
</div>
