<div id="manager-actions">
  <div class="home-team-form">
    <%= render partial: "new_statistic", locals: { team: @home_team }%>
  </div>
  <div class="away-team-form">
    <%= render partial: "new_statistic", locals: { team: @away_team }%>
  </div>
</div>
