<div id="game-show-header">
  <div class="home-team">
    <%= @home_team.name %>
  </div>
  <div class="result">
    <p>2 - 0</p>
  </div>
  <div class="away-team">
    <%= @away_team.name %>
  </div>
</div>

<% if current_user.is_manager?(@tournament) %>
  <%= render partial: 'games/manager_actions' %>
<% end %>

<div id="highlights">
  <div class="home-team">
    <p>home team</p>
  </div>
  <div class="actions">
    <p>action</p>
  </div>
  <div class="away-team">
    <p>away team</p>
  </div>
</div>

<div id="team-stats">
  <div class="home-team">
    <p>home team</p>
  </div>
  <div class="actions">
    <p>action</p>
  </div>
  <div class="away-team">
    <p>away team</p>
  </div>
</div>
