.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0f054f;
  background-size: cover;
}

.banner-content {
  h1 {
    color: #c7eaf5;
    font-weight: bold;
  }
  h2 {
    color: #c7eaf5;
    font-size: 42px;
    font-weight: lighter;
    letter-spacing: 4px;
  }
}
