.buttons-link {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 5% auto;
  height: 80px;
  width: 48%;
}

.btn-copy {
  color: $light-blue;
  border: solid 1px;
  border-color: $fluo-blue;
  border-radius: 10px;
}

.btn-whatsapp {
  color: $light-blue;
  border: solid 1px;
  border-color: $fluo-blue;
  border-radius: 10px;
}

.btn-mail {
  color: $light-blue;
  border: solid 1px;
  border-color: $fluo-blue;
  border-radius: 10px;
  padding: 5px 5px;
}

.header {
  margin: 5% auto;
  display: flex;

  h1 {
    text-align: center;
    font-size: 45px;
    color: $fluo-blue;
  }
}
