.buttons-link {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 3vh auto;
  height: 80px;
  width: 48%;
}

.btn-copy {
  color: $light-blue;
  font-size: 30px;
}

.btn-whatsapp {
  color: $light-blue;
  font-size: 30px;
}

.btn-mail {
  color: $light-blue;
  font-size: 30px;
}

.header {
  margin: 3vh auto;
  display: flex;

  h1 {
    text-align: center;
    font-size: 55px;
    color: $fluo-blue;
  }
}
