.card-team {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: block;
  border-radius: 4px;
  padding: 20px 20px;
  display: grid;
  margin: 5% auto;
  width: 30%;
}
