.navbar-lewagon {
  justify-content: space-between;
  background: #0f054f;
  h1 {
    color: #11ffff;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

