.navbar-lewagon {
  justify-content: space-between;
  h1 {
    color: #11ffff;
  }

  a{
    color: $light-blue !important;
  }

  .dropdown-menu{
    background-color: transparent;
  }

  .font-logo {
    font-family: 'Teko', 'sans-serif';
    letter-spacing: 5px;
    font-weight: normal;
    color: #11ffff;
    font-size: 40px;
  }

  .font-logo:hover {
    color: #11ffff;
  }

  .font-newgame {
    font-family: 'Teko', 'sans-serif';
    font-size: 24px;
    letter-spacing: 2px;
    padding-right: 20px;
  }
}

.navbar-home {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

