#team-body {
  display: flex;
  flex-direction: column;

  #radar {
    background-color: $light-blue;
  }

  #radar:hover {
    width: 1000px;
    height: 600px;
    transition: all 1s ease-in-out;
  }

  .radar-graphs:hover {

  }
}

.tournament-stat {

}

.action {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
